{% extends 'base.html.twig' %}

{% block title 'Snowtricks' %}

{% block body %}
    <div class="backgroundImage">
        <div class="container form-group d-flex align-items-center flex-column justify-content-around">
            {% for message in app.flashes('reset successful') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if app.user %}
                <div class="alert alert-success mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        </div>

        <p class="catchSentence">Rejoignez la plus grande communauté<br />de passionnés de snowboard</p>
    </div>

    <a class="btn btn-light allTricks" href="#tricks" role="tab">
        <i class="fa fa-arrow-down fa-vc"></i>
    </a>
    <div class="container mt-5">
        <div class id="tricks">
            <div class="row">
                <div class="card homeTrick">
                    <a href="/tricks/tricks1">
                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks1" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks1" class="card-title">Tricks1</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks2">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks2" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks2" class="card-title">Tricks2</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks3">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks3" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks3" class="card-title">Tricks3</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks4">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks4" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks4" class="card-title">Tricks4</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks5">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks5" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks5" class="card-title">Tricks5</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks6">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks6" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks6" class="card-title">Tricks6</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks7">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks7" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks7" class="card-title">Tricks7</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks8">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks8" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks8" class="card-title">Trick8</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks9">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks9" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks9" class="card-title">Trick9</a>
                    </div>
                </div>

                <div class="card homeTrick">
                    <a href="/tricks/tricks10">

                        <img src="../image/homepageimage.jpg" alt="Figure snowboard Tricks10" />
                    </a>
                    <div class="card-body">
                        <a href="/tricks/tricks10" class="card-title">Trick10</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}