{% block body %}

<h3>You forgot your password ? Don't worry !</h3>

<p>Hi {{ user.username }} !</p>


<p>To reset your password, go to: the reset password page <a href="{{ url('reset_password', { 'reset_password_token' : user.resetPasswordToken })}}">(click here)</a>.</p>


<p>Thanks !</p>

{% endblock %}

