{% block body %}

    <h3>You did it ! You registered !</h3>

    Hi {{ user.username }} ! You're successfully registered.


    <p>To login, go to: the login page<a href="{{ url('account_activation', { 'registrationToken' : user.registrationToken })}}">(click here)</a>.

    <p>Thanks!</p>

{% endblock %}