{% extends 'base.html.twig' %}

{%  block title %}Snowtricks - Acces denied{% endblock %}

{%  block body %}
    <h2>You don't have the necessary rights to access this resource !</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Back to the homepage</a>
{%  endblock %}