{% extends 'base.html.twig' %}

{%  block title %}Snowtricks - Internal Server Error{% endblock %}

{%  block body %}
    <h2>An error has occurred on the server side !</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Back to the homepage</a>
{%  endblock %}