{% extends 'base.html.twig' %}

{%  block title %}Snowtricks - Page not found{% endblock %}

{%  block body %}
    <h2>Oops! The page you are looking for does not exist !</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Back to the homepage</a>
{%  endblock %}